bleach==6.0.0
certifi==2023.7.22
chardet==5.1.0
docutils==0.20.1
idna==3.4
pkginfo==1.9.6
Pygments==2.15.1
readme-renderer==41.0
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
tqdm==4.65.0
twine==4.0.2
urllib3==2.0.4
webencodings==0.5.1
