bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
docutils==0.16
idna==2.10
pkginfo==1.7.0
Pygments==2.8.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
tqdm==4.59.0
twine==3.3.0
urllib3==1.26.3
webencodings==0.5.1
