bleach==4.1.0
certifi==2021.10.8
chardet==4.0.0
docutils==0.17.1
idna==3.3
pkginfo==1.7.1
Pygments==2.10.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
tqdm==4.62.3
twine==3.4.2
urllib3==1.26.7
webencodings==0.5.1
